@media (max-width: 800px) {
    .parteHeaderInterna {
        flex-direction: column;
        align-items: center;
    }

    .sezione-navigazione {
        margin: 0px;
        width: 0px;
        height: 0px;
        visibility: hidden;
    }
}

#header {
    background-color: white;
    display: flex;
    position: sticky;
    top: 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    z-index: 1;
}

.parteHeaderInterna {
    display: flex;
    width: 80%;
    padding: 10px;
    height: auto;
    align-items: center;
    justify-content: space-between;
}

.sezione-logo-nomeCompagnia {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
    height: auto;
    width: auto;
}

/* logo e nomeCompagnia */
#btn-logo {
    display: flex;
    background-color: transparent;
    border: 0px;
    cursor: default;
}

#logo {
    background-image: url('../imgs/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100px;
    height: 50px;
}

#nomeCompagnia {
    font-size: 2.5rem;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #333;
}

/* stile per i link di navigazione */

.sezione-navigazione {
    display: flex;
    gap: 20px;
}

#accesso-cliente,
#sezione-informazioni {
    width: 30px;
    height: 30px;
    background-color: lightgray;
    border-radius: 5px;
    cursor: pointer;
}

#accesso-cliente {
    background-image: url('../imgs/utente.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#sezione-informazioni {
    width: 30px;
    height: 30px;
    background-image: url('../imgs/info.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* stile per lo switch lingua */

#lingua-pagina {
    display: block;
    width: 45px;
    height: 30px;
    border-radius: 5px;
    background-image: url('../imgs/lingue/it.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.selezione-lingua-container {
    display: block;
    position: relative;
    align-items: center;
    width: auto;
    height: auto;
}

#cambio-lingua {
    visibility: hidden;
    opacity: 0;
    background-color: grey;
    position: inherit;
    display: flex;
    /* 
    valore minimo che diamo (-20.5px); valore massimo che diamo (50px) 
    */
    top: -20.5px;
    justify-items: center;
    justify-content: center;
    padding: 10px;
    right: 30%;
    width: 50px;
    height: 50px;
    gap: 5px;
    border-radius: 7.5px;
    z-index: 10;
}

@keyframes mostraLingua {
    0% {
        opacity: 0;
        top: -20.5px;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        top: 50px;
        visibility: visible;
    }
}

@keyframes nascondiLingua {
    0% {
        opacity: 1;
        top: 50px;
        visibility: visible;
    }

    100% {
        opacity: 0;
        top: -20.5px;
        visibility: hidden;
    }
}

#lingua-it,
#lingua-en {
    align-items: center;
    width: auto;
    height: auto;
    cursor: pointer;
    border-radius: 10px;
    flex-shrink: 0;
}

#lingua-it {
    display: block;
}

#lingua-en {
    display: block;
}

#italiano,
#inglese {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
}

#italiano {
    background-image: url('../imgs/lingue/it.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#inglese {
    background-image: url('../imgs/lingue/eng.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* parte header per info */
.soloLogoCompagnia-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: auto;
    width: auto;
}

#btn-logo-info {
    display: flex;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}