#btn-logo {
    cursor: default;
}

.boxAmministrativo {
    display: flex;
    flex-direction: column;
    padding: 20px 5px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.menuLateraleAzioni {
    width: 100px;
}