@media (max-width: 800px) {
    .contentFooter {
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .informazioniAzienda {
        margin-top: 10px;
        border-right: none !important;
        box-shadow: none !important;
        width: 100% !important;
        padding: 10px 0px 10px 0px;
    }

    .parte-testo-info p {
        font-size: 15px !important;
    }

    .separatore-footer {
        display: block !important;
    }

    .altreInformazioni,
    .infoDentro-footer {
        width: 100% !important;
    }

    .social-email {
        flex-direction: column;
    }
}

#footer {
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0px;
    background-color: rgb(0, 145, 189);
    width: 100%;
    height: auto;
    color: white;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.3);
}

.separatore-footer {
    display: none;
    margin: 0px;
}

.contentFooter {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding: 0px 10px 0px 10px;
    height: auto;
    justify-content: space-evenly;
}

.informazioniAzienda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding: 20px;
    align-items: center;
    border-right: 1px solid #00000050;
    box-shadow: 15px 0px 20px -5px rgba(0, 0, 0, 0.3);
}

.parteInterna-info {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7.5px;
}

.only-logo-footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    margin-bottom: 10px;
}

#logo-footer {
    background-image: url('../imgs/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 125px;
    height: 75px;
}

/* con media query tolgo */
#nomeCompagnia-footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 17.5px;
    font-weight: bold;
    color: #333;
}

.informazioni-footer {
    display: flex;
    justify-content: center;
}

.parte-testo-info {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 20px;
}

.altreInformazioni {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 60%;
    height: auto;
}

.infoDentro-footer {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
    padding: 10px;
    margin: 20px 0px 20px 0px;
}

/* stile per i link social */
.social-email {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.parte-social,
.contatto-email {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 40%;
    margin: 0px 20px 0px 20px;
}

.parte-social h4,
.contatto-email h4 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 15.5px;
    margin-bottom: 0px;
}

.link_social {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 20px 0px;
}

/* social media icons */
#social-facebook {
    background-image: url('http://upload.wikimedia.org/wikipedia/commons/b/b9/2023_Facebook_icon.svg');
}

#social-instagram {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/95/Instagram_logo_2022.svg');
}

#social-twitter {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/ce/X_logo_2023.svg');
}

#social-facebook,
#social-instagram,
#social-twitter {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: all 0.3s;
}

#social-facebook:hover,
#social-instagram:hover,
#social-twitter:hover {
    transform: scale(1.2);
}

/* stile per l'iscrizione usando l'email dell'utente */

.contatto-email {
    width: 60%;
}

.contatto-email h4 {
    text-align: left;
}

#footer-form-email {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 0px 20px 0px;
}

#nuova-email-cliente {
    position: relative;
    width: 80%;
    height: 40px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    padding-left: 10px;
}

#nuova-email-cliente::placeholder {
    color: rgb(0, 195, 255);
    font-family: 'Montserrat', sans-serif;
}

#btn-iscrizione-footer {
    background-image: url('https://www.svgrepo.com/show/504946/telegram.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 70px;
    height: 42.5px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}

/* zona riguardo a "chi siamo", "contatti", "lavora con noi", "termini e condizioni" e "copyrights" */
.informazioniSecondari {
    display: flex;
    justify-content: space-evenly;
}

.sezione-contatti {
    display: flex;
    flex-direction: column;
}

.sezione-contatti h4 {
    margin: 0px 0px 20px 0px;
    font-size: 25px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.diverseSezioni {
    display: grid;
    width: 100%;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sede-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    opacity: 0.9;
    transition: all 0.3s;
}

#email-sede-img {
    background-image: url("https://www.svgrepo.com/show/502647/email-open.svg");
}

#tel-sede-img {
    background-image: url('https://www.svgrepo.com/show/456709/telephone.svg');
}

#map-sede-img {
    background-image: url('https://www.svgrepo.com/show/532546/map.svg');
}

#email-sede-img,
#tel-sede-img,
#map-sede-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
    height: 25px;
}

.sede-link:hover {
    opacity: 1;
    color: white;
}

#copyrightPagina,
.terminiCondizioni {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333;
    text-align: center;
    padding: 10px 0px 10px 0px;
}

.terminiCondizioni a {
    text-decoration: none;
    color: #333;
    transition: all 0.3s;
}

.terminiCondizioni a:hover {
    color: rgb(119, 255, 119);
}