@media (max-width: 1150px) {
    .t-btn {
        display: none !important;
    }
}

@media (max-width: 800px) {
    .parteHeaderInterna {
        flex-direction: column;
        align-items: center;
    }

    .sezione-navigazione {
        margin: 0px;
        width: 0px;
        height: 0px;
        visibility: hidden;
    }

    .btn-menu-navigazione {
        display: block !important;
    }

    #btn-menu-navigazione {
        display: block !important;
    }

    #dialog-menu {
        display: flex !important;
        flex-direction: column !important;
    }

    #menu-navigazione-container {
        display: block !important;
    }
}

@media (max-width: 600px) {
    #dialog-menu {
        width: 100% !important;
    }
}

@media (max-width: 500px) {
    #nomeCompagnia {
        font-size: 2rem !important;
    }

    #logo {
        width: 60px !important;
        height: 40px !important;
    }
}

#header {
    background-color: white;
    display: flex;
    position: sticky;
    top: 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    z-index: 1;
}

.parteHeaderInterna {
    display: flex;
    width: 80%;
    padding: 10px;
    height: auto;
    align-items: center;
    justify-content: space-between;
}

.sezione-logo-nomeCompagnia {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 10px;
    height: auto;
    width: auto;
}

/* stile per il menu navigazione */
#menu-navigazione-container {
    display: none;
}

#btn-menu-navigazione {
    background-image: url('https://www.svgrepo.com/show/348740/menu.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#dialog-menu-container {
    position: absolute;
    top: 0px;
    /*
    valore minimo che diamo (-100%), valore massimo (0px)
    */
    left: -100%;
    width: 100%;
    background-color: transparent;
    z-index: 2;
    align-items: center;
    overflow-y: auto;
}

.blur-dietro {
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    transition: backdrop-filter 1s foreward;
    /* Effetto fluido */
}

#dialog-menu {
    display: flex;
    width: 70%;
    background-color: white;
    flex-direction: column;
    height: 100vh;
}

@keyframes mostraMenu {
    0% {
        left: -100%;
    }

    100% {
        left: 0px;
    }
}

@keyframes nascondiMenu {
    0% {
        left: 0px;
    }

    100% {
        left: -100%;
    }
}

.chiusura-menu {
    padding: 24px 20px;
    height: auto;
    display: flex;
    justify-content: flex-end;
}

#btn-chiudi-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}

#img-chiudi-menu {
    background-image: url('https://www.svgrepo.com/show/499592/close-x.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: all 0.15s ease-in-out;
}

#img-chiudi-menu:hover {
    background-color: rgb(192, 192, 192);
}

.diverse-categorie-container {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 20px 20px;
    margin: 0px;
    list-style-type: none;
}

.elemento-categoria-menu {
    font-size: 1.25rem;
    font-family: 'Montserrat';
    font-weight: 600;
    color: #333;
    cursor: pointer;
}

.img-freccia-link {
    background-image: url('https://www.svgrepo.com/show/390864/arrow-right-bold.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}

.link-menu-pagina {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
    text-decoration: none;
    color: black;
    transition: all 0.25s ease-in-out;
}

.link-menu-pagina:hover {
    color: rgb(0, 153, 255);
}

/* logo e nomeCompagnia */
#btn-logo {
    display: flex;
    align-items: flex-end;
    background-color: transparent;
    border: 0px;
    gap: 7.5px;
    cursor: pointer;
}

#logo {
    background-image: url('../imgs/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 80px;
    height: 50px;
}

#nomeCompagnia {
    font-size: 2.25rem;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #333;
}

/* stile per i link di navigazione */

.sezione-navigazione {
    display: flex;
    gap: 20px;
}

#accesso-cliente,
#sezione-informazioni {
    width: 30px;
    height: 30px;
    background-color: rgba(211, 211, 211, 0);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.no-effetto-hover #accesso-cliente {
    background-color: rgba(211, 211, 211, 0) !important;
    cursor: default !important;
}

.zona-utente-container {
    position: relative;
    width: auto;
    height: auto;
}

#accesso-cliente {
    background-image: url('../imgs/utente.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#sezione-informazioni {
    width: 30px;
    height: 30px;
    background-image: url('../imgs/info.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#accesso-cliente:hover,
#sezione-informazioni:hover {
    background-color: rgb(185, 185, 185);
}

/* stile per lo switch lingua */

#lingua-pagina,
#lingua-pagina-mini-header {
    display: block;
    width: 45px;
    height: 30px;
    border-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: transform 0.25s;
}

#lingua-pagina:hover {
    transform: scale(1.1);
}

.selezione-lingua-container {
    display: block;
    position: relative;
    align-items: center;
    width: auto;
    height: auto;
}

#cambio-lingua {
    visibility: hidden;
    opacity: 0;
    background-color: grey;
    position: inherit;
    display: flex;
    /* 
    valore minimo che diamo (-20.5px); valore massimo che diamo (50px) 
    */
    top: -20.5px;
    justify-items: center;
    justify-content: center;
    padding: 10px;
    right: 30%;
    width: 50px;
    height: 50px;
    gap: 5px;
    border-radius: 7.5px;
    z-index: 10;
}

@keyframes mostraLingua {
    0% {
        opacity: 0;
        top: -20.5px;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        top: 50px;
        visibility: visible;
    }
}

@keyframes nascondiLingua {
    0% {
        opacity: 1;
        top: 50px;
        visibility: visible;
    }

    100% {
        opacity: 0;
        top: -20.5px;
        visibility: hidden;
    }
}

#lingua-it,
#lingua-en {
    align-items: center;
    width: auto;
    height: auto;
    cursor: pointer;
    border-radius: 10px;
    flex-shrink: 0;
}

#lingua-it {
    display: block;
}

#lingua-en {
    display: block;
}

#italiano,
#inglese {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
}

#italiano {
    background-image: url('../imgs/lingue/it.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#inglese {
    background-image: url('../imgs/lingue/eng.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#lingua-pagina-mini-header {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

/* stile per al zona utente header */

#menu-cliente-container {
    display: none;
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /*
    Mix (-20.5px), Max (50px)
    */
    top: -20.5px;
    width: 150px;
    height: auto;
    z-index: 10;
    color: white;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    background-color: rgb(73, 73, 73, 0.5);
    transition: transform 0.25s;
}

.menu-cliente-links {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    gap: 10px;
    align-items: center;
}

.utente-link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% - 25px);
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    gap: 5px;
}

#img-utente {
    background-color: white;
    background-image: url('../imgs/utente.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

@keyframes mostraMenuUtente {
    0% {
        display: none;
        opacity: 0;
        top: -20.5px;
    }

    100% {
        display: block;
        opacity: 1;
        top: 50px;
    }
}

@keyframes nascondiMenuUtente {
    0% {
        display: block;
        opacity: 1;
        top: 50px;
    }

    100% {
        display: none;
        opacity: 0;
        top: -20.5px;
    }
}

/* parte header per info */
.soloLogoCompagnia-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: auto;
    width: auto;
}

#btn-logo-info {
    display: flex;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
    align-items: flex-end;
    gap: 7.5px;
}

/* stile per ritorno alla home */
.tornaHomepage {
    position: absolute;
    align-items: center;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    display: flex;
    height: 40px;
}

#btn-torna-homepage {
    opacity: 0.5;
    display: flex;
    font-family: "montserrat", sans-serif;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    transition: opacity 0.3s ease;
}

#img-home {
    background-image: url('https://www.svgrepo.com/show/422048/homepage.svg');
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.t-btn {
    margin-left: 10px;
}

#btn-torna-homepage:hover {
    opacity: 1;
}