@media (max-width: 1150px) {
    .mainPagina {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .login-img-container {
        display: none !important;
    }

    .login-container {
        width: 100% !important;
    }

    .loginForm,
    .sezione-newUtente-recupero {
        width: 70% !important;
    }

    .sezione-newUtente-recupero {
        flex-direction: row !important;
        justify-content: space-between;
    }

    .nuovo-utente {
        align-items: flex-start;
    }

    .recupero-utente {
        align-items: flex-end;
    }
}

.mainPagina {
    height: calc(100% - 100px);
    display: flex;
    flex-direction: row;
    width: 100%;
}

.login-img-container {
    display: block;
    width: 50%;
    height: 100%;
}

.login-img {
    background-image: url('https://cdn.pixabay.com/photo/2016/11/14/03/48/father-1822528_1280.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.loginForm {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}

.login-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.login-inside-form-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* stile per i singoli input del form */

.singoloInput {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.singoloInput input {
    height: 35px;
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

#email::placeholder,
#password::placeholder {
    color: #999;
    font-style: italic;
}

#email:hover,
#password:hover {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 162, 255, 0.5);
}

#email:focus,
#password:focus {
    outline: none;
    box-shadow: none;
    border-color: rgb(0, 162, 255);
}

/* stile per il pulsante di invio */

.form-btn-invio {
    width: 100%;
    height: 40px;
}

.form-btn-invio button {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 162, 255);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.form-btn-invio button:hover {
    background-color: #1c02ff;
}

/* stile per la parte sotto del form */
.sezione-newUtente-recupero {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.nuovo-utente,
.recupero-utente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0px;
    font-size: 15px;
}

/* stile per ritorno alla home */
.tornaHomepage {
    position: fixed;
    align-items: center;
    bottom: 20px;
    display: flex;
    height: 40px;
}

#btn-torna-homepage {
    opacity: 0.5;
    display: flex;
    font-family: "montserrat", sans-serif;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    transition: opacity 0.3s ease;
}

#img-home {
    background-image: url('https://www.svgrepo.com/show/422048/homepage.svg');
    background-position: center;
    background-size: contain;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#btn-torna-homepage:hover {
    opacity: 1;
}