html,
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0px;
    height: 100%;
}

@media (max-width: 300px) {
    #appPagina {
        display: none !important;
    }

    #bloccoContenuto {
        display: block !important;
    }
}

/* stile per l'errore dimensione schermo */

#bloccoContenuto {
    display: none;
    background-color: rgb(182, 1, 1);
    height: 100%;
}

.containerBlocco {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    color: rgb(231, 231, 231);
}

#img-attenzione {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/e/e4/Segnale_generico.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.contenutoBloccoTesto {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* stile per l'applicazione web */

#appPagina {
    display: block;
    height: 100%;
}

hr {
    width: 100%;
    border: 0.5px solid white;
    margin-top: 5px;
    margin-bottom: 20px;
    border-radius: 5px
}

/* stile per l'errore della pagina */
.url-sbagliato-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 35vh;
    margin: 20px 0px;
}

.titolo-url {
    display: flex;
    flex-direction: column;
    text-align: center;
}

#err-richiesta {
    font-size: 100px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}