@media (max-width: 800px) {
    #container-iframe {
        width: 75% !important;
    }
}

/* parte privata dell'header */
.header-privato {
    height: 75px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    padding: 0px 20px;
}

.container-logo {
    display: flex;
    justify-content: center;
}

.logo-compagnia-privata {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: auto;
    width: auto;
}

#btn-logo-privato {
    display: flex;
    align-items: flex-end;
    background-color: transparent;
    border: 0px;
    gap: 7.5px;
    padding: 0px;
}

#logo-privato {
    background-image: url(../../imgs/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 80px;
    height: 50px;
}

#azienda-privato {
    height: 50px;
    font-size: 2.5rem;
    font-family: 'Montserrat';
    font-weight: bold;
    color: #333;
}

.boxAmministrativo {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    height: auto;
}

.menuLateraleAzioni {
    width: 100px;
}

.mostraContenutoDB {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
}

.btns-mostraIframe {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    width: 100%;
    height: 30px;
}

#container-iframe {
    height: 20vh;
    width: 30%;
    overflow: auto;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid black;
    margin-top: 10px;
}